

.logo {
  width: 5em;
  height: 5em;
  border-radius: 4px;
}

.nav-container {
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
 }

.nav-item{
  padding: 0 2em ;
  display: inline-block;
  border: 1px solid black;
  border-radius: 12px;
  transition: 0.5s;
}

.nav-item:hover{
  background-color: red;
  scale: 1.01;
}


a {
  text-decoration: none;
  font-size: 1.6em;
}

.right {
  margin-left: auto;
}

.box{
  width: 110px;
  height: 110px;
  display: inline-block;
  border: 1px solid black;
}