.logo {
  border: 1px solid #dbdbdb;
  width: 5em;
  height: 5em;
  border-radius: 4px;
}

.nav-container {
  padding-inline: 30px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--modern-grey);
}

.nav-item {
  padding: 10px 20px;
  font-weight: 600;
  margin-inline: 10px;
  display: inline-block;
  border-radius: 4px;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

.right {
  margin-left: auto;
}

.box {
  border-radius: 50px;
  display: inline-block;
  color: white;
  background-color: var(--modern-dark-blue);
}