:root {
    --board-size: 15;
    --board-screen-size: 4em;
    --fake-board-width: calc(var(--board-screen-size) / var(--board-size) * calc(var(--board-size) - 1));
}

.board-backgorund {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    font-size: 20em;
}

.board {
    position: relative;
}

.real-board {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(var(--board-screen-size));
    height: calc(var(--board-screen-size));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--board-size), 1fr);
}

.real-board .row {
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
}

.real-board .cell {
    transform: translate(-50%, -50%);
    border: 1px dotted #9909;
}

.fake-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(calc(var(--board-size) - 1), 1fr);
    grid-template-rows: repeat(calc(var(--board-size) - 1), 1fr);
    width: var(--fake-board-width);
    height: var(--fake-board-width);
}

.fake-cell {
    border: 1px solid black;
    z-index: 1;
}

.placed {
    background-color: #dbdbdb;
    border-radius: 50%;
}