MONGO = mongodb+srv://seo0jjjjj:MPZG12JA8UvVhzLr@cluster-moble-yunoh.nmnffty.mongodb.net/ohMock?retryWrites=true&w=majority&appName=Cluster-Moble-YunOh
PORT = 8080
JWT = your-secret-key
CLIENT_URL = http://192.168.0.1