html {
  width: 100%;
  height: 100%;
}

body {
  width: 1920px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start    ;
}

.greed {
  border: 1px dashed black;
  width: 1320px;
  height: 100%;
}

.lgo